.login-button {
    background-color: rgb(0, 119, 255) !important;
}

.login-btn {
    background-color: rgb(215, 220, 227) !important;
}
.btnregister {
    background-color: rgb(55, 97, 223) !important;
}

  

